$color-primary: #0054A6;
$color-primary-light: rgba(51, 105, 231, 0.1);;
$color-info: #0054A6;
$color-success: #0054A6;
$color-warning: #FD9426;
$color-error: #E23135;
$color-error-light: #FCEAEB;
$color-secondary: #F2F2F2;
$color-text-heavy: #000;
$color-text-medium: #333;
$color-text-light: #A7A7AB;
$color-text-contrary: #fff;
$color-text-heading: #000;
$color-controls-type-action-base-fill-color: #0054A6;
$color-controls-type-action-base-typo: #fff;
$color-controls-type-error-base-fill-color: #FCEAEB;
$color-controls-type-error-base-typo: #E23135;
$color-controls-type-error-base-border-color: #E23135;
$color-controls-type-info-base-fill-color: rgba(51, 105, 231, 0.1);;
$color-controls-type-info-base-typo: #0054A6;
$color-controls-type-secondary-base-fill-color: #F2F2F2;
$color-controls-type-secondary-base-typo: #333;
$color-controls-type-secondary-disabled-fill-color: #F2F2F2;
$color-controls-type-secondary-disabled-typo: #A7A7AB;
$color-primary-darken: color($color-primary shade(20%));
$color-primary-lighten: color($color-primary tint(20%));
$button-primary-fill-color: #0054A6;
$button-primary-typo: #fff;
$button-secondary-fill-color-base: #F2F2F2;
$button-secondary-fill-color-disabled: #F2F2F2;
$button-secondary-typo-base: #333;
$button-secondary-typo-disabled: #A7A7AB;
$button-outline-fill-color-base: transparent;
$button-outline-fill-color-disabled: transparent;
$button-outline-typo-base: #0054A6;
$button-outline-typo-disabled: #A7A7AB;
$button-info-fill-color-base: rgba(51, 105, 231, 0.1);;
$button-info-typo-base: #0054A6;
$input-base-fill-color-base: #F2F2F2;
$input-base-fill-color-disabled: #F2F2F2;
$input-base-typo-base: #1C1C1E;
$input-base-typo-disabled: #A7A7AB;
$input-base-placeholder-base: #B3B3B3;