:root {
    --color-primary: #0054A6;
    --color-primary-light: rgba(51, 105, 231, 0.1);;
    --color-info: #0054A6;
    --color-success: #0054A6;
    --color-warning: #FD9426;
    --color-error: #E23135;
    --color-error-light: #FCEAEB;
    --color-secondary: #F2F2F2;
    --color-text-heavy: #000;
    --color-text-medium: #333;
    --color-text-light: #A7A7AB;
    --color-text-contrary: #fff;
    --color-text-heading: var(--color-text-heavy);
    --color-controls-type-action-base-fill-color: var(--color-primary);
    --color-controls-type-action-base-typo: #fff;
    --color-controls-type-error-base-fill-color: var(--color-error-light);
    --color-controls-type-error-base-typo: var(--color-error);
    --color-controls-type-error-base-border-color: var(--color-error);
    --color-controls-type-info-base-fill-color: var(--color-primary-light);
    --color-controls-type-info-base-typo: var(--color-primary);
    --color-controls-type-secondary-base-fill-color: var(--color-secondary);
    --color-controls-type-secondary-base-typo: var(--color-text-medium);
    --color-controls-type-secondary-disabled-fill-color: var(--color-secondary);
    --color-controls-type-secondary-disabled-typo: var(--color-text-light);
    --color-primary-darken: color($color-primary shade(20%));
    --color-primary-lighten: color($color-primary tint(20%));
    --button-primary-fill-color: var(--color-controls-type-action-base-fill-color);
    --button-primary-typo: var(--color-controls-type-action-base-typo);
    --button-secondary-fill-color-base: var(--color-controls-type-secondary-base-fill-color);
    --button-secondary-fill-color-disabled: var(--color-controls-type-secondary-base-fill-color);
    --button-secondary-typo-base: var(--color-controls-type-secondary-base-typo);
    --button-secondary-typo-disabled: #A7A7AB;
    --button-outline-fill-color-base: transparent;
    --button-outline-fill-color-disabled: transparent;
    --button-outline-typo-base: var(--color-controls-type-action-base-fill-color);
    --button-outline-typo-disabled: #A7A7AB;
    --button-info-fill-color-base: var(--color-controls-type-info-base-fill-color);
    --button-info-typo-base: var(--color-controls-type-info-base-typo);
    --input-base-fill-color-base: var(--color-controls-type-secondary-base-fill-color);
    --input-base-fill-color-disabled: var(--color-controls-type-secondary-base-fill-color);
    --input-base-typo-base: #1C1C1E;
    --input-base-typo-disabled: #A7A7AB;
    --input-base-placeholder-base: #B3B3B3;
}
