:root {
    --button-primary-fill-color: var(--color-controls-type-action-base-fill-color);
    --button-primary-typo: var(--color-controls-type-action-base-typo);
    --button-secondary-fill-color-base: var(--color-controls-type-secondary-base-fill-color);
    --button-secondary-fill-color-disabled: var(--color-controls-type-secondary-base-fill-color);
    --button-secondary-typo-base: var(--color-controls-type-secondary-base-typo);
    --button-secondary-typo-disabled: #A7A7AB;
    --button-outline-border-base: 1px solid rgba(0, 84, 166, 0.2);;
    --button-outline-border-disabled: 1px solid #A7A7AB;
    --button-outline-fill-color-base: transparent;
    --button-outline-fill-color-disabled: transparent;
    --button-outline-typo-base: var(--color-controls-type-action-base-fill-color);
    --button-outline-typo-disabled: #A7A7AB;
    --button-info-fill-color-base: var(--color-controls-type-info-base-fill-color);
    --button-info-typo-base: var(--color-controls-type-info-base-typo);
    --input-base-fill-color-base: var(--color-controls-type-secondary-base-fill-color);
    --input-base-fill-color-disabled: var(--color-controls-type-secondary-base-fill-color);
    --input-base-typo-base: #1C1C1E;
    --input-base-typo-disabled: #A7A7AB;
    --input-base-placeholder-base: #B3B3B3;
}
