:root {
    --typo-primary-font-family: Rubik, sans-serif;
    --typo-secondary-font-family: Raleway, sans-serif;
    --typo-heading-font-family: var(--typo-primary-font-family);
    --typo-control-font-family: var(--typo-secondary-font-family);
}
