@import "./1-settings/*.pcss";
@import "./2-design-tokens/*.pcss";
@import "./2-design-tokens/themes/default/*.pcss";
@import "./3-tools/*.pcss";
@import "./4-generic/*.pcss";
@import "./5-elements/*.pcss";
@import "./6-components/*.pcss";
@import "./7-utilities/*.pcss";

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
